.matricula{
    -fx-font-family: impact;
    -fx-font-size: 12px;
    -fx-alignment: center center;
    -fx-background-color: #fff;
}

.tiquet-entrada{
    -fx-background-color: white;
    -fx-pref-height: 250;
}

Label{
    -fx-font-family: impact;
}

.eti-tiquet{
    -fx-font-size: 18px;
}

.button{
    -fx-background-radius: 5px;
    -fx-background-insets: 1px;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
}

.boto-entrar{
    -fx-background-color: #82E0AA;
    -fx-border-color: #27AE60;
    -fx-pref-width: 100px;
    -fx-pref-height: 50px;
    -fx-font-family: impact;
    -fx-font-size: 18px;
}

.boto-sortir{
    -fx-background-color: #F1948A;
    -fx-border-color: #E74C3C;
    -fx-pref-width: 100px;
    -fx-pref-height: 50px;
    -fx-font-family: impact;
    -fx-font-size: 18px;
}

.boto-continuar{
    -fx-background-color: #85C1E9;
    -fx-border-color: #2980B9;
    -fx-pref-width: 200px;
    -fx-pref-height: 50px;
    -fx-font-family: impact;
    -fx-font-size: 18px;
}

.boto-obtenir-tiquet{
    -fx-background-color: #F4D03F;
    -fx-border-color: #F39C12;
	-fx-effect: dropshadow(three-pass-box, rgba(248, 196, 113, 1) , 100, 0, 0, 0);
    -fx-pref-width: 150px;
    -fx-pref-height: 50px;
    -fx-font-family: impact;
    -fx-font-size: 18px;
}

.contenidor-boto{
    -fx-background-color: #283747;
    -fx-background-radius: 5px;
}

.eti-numero-placa{
    -fx-text-fill: #fff;
    -fx-font-size: 2em;
}

.eti-info-cotxe-placa{
    -fx-text-fill: #B3B6B7  ;
    -fx-font-size: 2em;
}